{% extends 'auth_base.html'%}

{% load static %}

{% block title%}
	<title>Login</title>
{% endblock %}

{% block custom_css %}
	<link rel="stylesheet" href="{%static 'css/registration.css'%}">
{% endblock %}

{% block content %}
	<div class="content">
		<div class="form-section">
			<h3>Forgot Password</span></h3>
			{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-action list-group-item-info"{% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>
			{% endif %}
			<form method="post" action="">
				{% csrf_token %}
				<div class="mb-3">
				  <input class="form-control form-control-sm" type="email" placeholder="Enter Email Address to reset" aria-label=".form-control-sm example" name="email">
				</div>

				<div class="bottom">
					<button type="submit" class="btn btn-primary">RESET</button>
					<p>I remember <a href="{% url 'accounts:login'%}">Login</a></p>
				</div>
				
			</form>
		</div>
		<div class="image-section">
			<img src="{%static 'images/signin-image.jpg'%}">
			<div class="text">
				<h4>Your Bills Your Responsibilities</h4>
				<hr>
			</div>
		</div>
	</div>
{% endblock %}