{% extends "base.html" %}
{% load static %}
{% block custom_css %}
	<style>
		.modal-content {
			background-color: #f8f9fa !important;
			padding: 30px;
		}

		.modal-content h5 {
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			color: #3A579E
		}
	</style>
{% endblock%}
{% block content %}
	<div class="title">
			<div class="task-title">
				
				<h3>MY SUBSCRIPTIONS</h3>
			</div>
			
		</div>
		{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-action list-group-item-warning"{% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>
			{% endif %}
		<div id="tasks_id" class="tasks owl-carousel owl-theme">
			{% for my_subscription in my_subscriptions %}
			<div class="task">
				<a href="{% url 'main:subscription' my_subscription.id%}">
					<img src="{{my_subscription.subscription.pic.url}}" alt="">
				</a>
			</div>
			{% endfor %}

			<button class="task" data-bs-toggle="modal" data-bs-target="#exampleModal">
				<div class="add" >
					<ion-icon name="add-circle-outline"></ion-icon>
				</div>
				
			</button>


		</div>

		<div class="second-row">
			<div class="crop-section">
				<h3>Pending Bills</h3>

				<table class="table table-striped">
				  <thead>
				    <tr>
				    	<th scope="col">#</th>
				      <th scope="col">Bill</th>
				      <th scope="col">Month</th>
				      <th scope="col">Amount</th>
				      <th scope="col">Paybale</th>
				      <th scope="col">Pay</th>
				      <th scope="col">Delete</th>
				    </tr>
				  </thead>
				  <tbody>

				  	{% for pending_bill in pending_bills%}
					    <tr>
					      <th scope="row">1</th>
					      <td>
					      	<img src="{{pending_bill.my_subscription.subscription.pic.url}}" alt="bill">
					      </td>
					      <td>{{pending_bill.month}}</td>
					      <td>{{pending_bill.amount}}</td>
					      <td>{{pending_bill.payable}}</td>
					      <td>
					      	<button type="button" class="btn btn-success">Pay</button>
					      </td>
					      <td>
					      	<a href="{% url 'main:delete_bill' pending_bill.id %}" class="btn btn-danger">Del</a>
					      </td>
					    </tr>
				   {% endfor %}
				  </tbody>
				</table>

				
			</div>

			<div class="graph">
				<h3>Payment Graph</h3>
				<canvas id="myChart" style="width:100%;width:400px"></canvas>
			</div>
		</div>


		<div class="third-row">
			<h3>Upcoming Bills</h3>
			<table class="table table-striped">
			  <thead>
			    <tr>
			    	<th scope="col">#</th>
			      <th scope="col">Bill</th>
			      <th scope="col">Month</th>
			      <th scope="col">Amount</th>
			      <th scope="col">Paybale</th>
			      <th scope="col">Pay</th>
			    </tr>
			  </thead>
			  <tbody>

			  	{% for upcoming_bill in upcoming_bills%}
				    <tr>
				      <th scope="row">1</th>
				      <td>
				      	<img src="{{upcoming_bill.my_subscription.subscription.pic.url}}" alt="bill">
				      </td>
				      <td>{{upcoming_bill.month}}</td>
				      <td>{{upcoming_bill.amount}}</td>
				      <td>{{upcoming_bill.payable}}</td>
				      <td>
				      	<button type="button" class="btn btn-success">Pay</button>
				      </td>
				     
				    </tr>
			    {% endfor %}
			   
			  </tbody>
			</table>
		</div>


		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog  modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Add Subscription</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <form action="{% url 'main:register_subscription'%}" method="post">
		        	{% csrf_token %}
		        	<div>
			        	<label for="exampleFormControlInput1" class="form-label">Subscription</label>
			        	<select class="form-select form-select-sm" aria-label=".form-select-sm example" name="subscription">
						  {% for subscription in subscriptions %}
						  	<option value={{subscription.id}}>{{subscription.name}}</option>
						  {% endfor %}
						  
						</select>
					</div>

					<div style="margin-top: 20px">
						<label for="exampleFormControlInput1" class="form-label">Account/Meter No</label>
			        	<input class="form-control form-control-sm" type="text" placeholder="e.g 6667-789-899" aria-label=".form-control-sm example" name="account">

					</div>

					<div align="center" style="margin-top: 20px">
						<button type="submit" class="btn btn-primary" style="padding: 20px">Subscribe</button>
					</div>
		        </form>
		      </div>
		      
		    </div>
		  </div>
{% endblock %}

{% block scripts %}
	<script>
		var xValues = [100,200,300,400,500,600,700,800,900,1000];

		new Chart("myChart", {
		  type: "line",
		  data: {
		    labels: xValues,
		    datasets: [{
		      data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
		      borderColor: "red",
		      fill: false
		    },{
		      data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
		      borderColor: "green",
		      fill: false
		    },{
		      data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
		      borderColor: "blue",
		      fill: false
		    }]
		  },
		  options: {
		    legend: {display: false}
		  }
		});
	</script>
{% endblock %}