{% extends "base.html" %}
{% load static %}
{% block custom_css %}
	<style>
		.modal-content {
			background-color: #f8f9fa !important;
			padding: 30px;
		}

		.modal-content h5 {
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			color: #3A579E
		}
	</style>
{% endblock%}
{% block content %}
	<div class="title">
			<div class="task-title">
				
				<h3>MY SUBSCRIPTIONS</h3>
			</div>
			
		</div>
		{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-action list-group-item-info"{% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>
			{% endif %}
		<div id="tasks_id" class="tasks owl-carousel owl-theme">
			{% for my_subscription in my_subscriptions %}
			<div class="task">
				<a href="{% url 'main:subscription' my_subscription.id%}">
					{% if my_subscription.subscription.pic %}
					<img src="{{my_subscription.subscription.pic.url}}" alt="">
					{% else %}
						<img src="{% static 'images/no_image.jpg' %}" alt="" width="50">
					{% endif %}
				</a>
			</div>
			{% endfor %}

			<button class="task" data-bs-toggle="modal" data-bs-target="#exampleModal">
				<div class="add" >
					<ion-icon name="add-circle-outline"></ion-icon>
				</div>
				
			</button>


		</div>

		<div class="second-row">
			<div class="crop-section">
				<h3>Pending Bills</h3>

				<table class="table table-striped">
				  <thead>
				    <tr>
				    	<th scope="col">#</th>
				      <th scope="col">Bill</th>
				      <th scope="col">Month</th>
				      <th scope="col">Amount</th>
				      <th scope="col">Paybale</th>
				      <th scope="col">Pay</th>
				    </tr>
				  </thead>
				  <tbody>

				  	{% for pending_bill in pending_bills%}
					    <tr>
					      <th scope="row">1</th>
					      <td>
					      	<img src="{{pending_bill.my_subscription.subscription.pic.url}}" alt="bill">
					      </td>
					      <td>{{pending_bill.month}}</td>
					      <td>{{pending_bill.amount}}</td>
					      <td>{{pending_bill.payable}}</td>
					      <td>
					      	<a href="{% url 'main:invoice' pending_bill.id %}" class="btn btn-success">Pay</a>
					      </td>
				
					    </tr>
				   {% endfor %}
				  </tbody>
				</table>

				
			</div>

			<div class="graph">
				<h3>Payment History</h3>
				<canvas id="myChart" style="width:100%;width:400px" data-url="{% url 'main:chart' %}"></canvas>
			</div>
		</div>


		<div class="third-row">
			<h3>Upcoming Bills</h3>
			<table class="table table-striped">
			  <thead>
			    <tr>
			    	<th scope="col">#</th>
			      <th scope="col">Bill</th>
			      <th scope="col">Month</th>
			      <th scope="col">Amount</th>
			      <th scope="col">Paybale</th>
			      <th scope="col">Pay</th>
			    </tr>
			  </thead>
			  <tbody>

			  	{% for upcoming_bill in upcoming_bills%}
				    <tr>
				      <th scope="row">1</th>
				      <td>
				      	<img src="{{upcoming_bill.my_subscription.subscription.pic.url}}" alt="bill">
				      </td>
				      <td>{{upcoming_bill.month}}</td>
				      <td>{{upcoming_bill.amount}}</td>
				      <td>{{upcoming_bill.payable}}</td>
				      <td>
				      	<a href="{% url 'mpesa_api:lipa_na_mpesa' upcoming_bill.id %}" class="btn btn-success">Pay</a>
				      </td>
				     
				    </tr>
			    {% endfor %}
			   
			  </tbody>
			</table>
		</div>


		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog  modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Add Subscription</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <form action="{% url 'main:register_subscription'%}" method="post">
		        	{% csrf_token %}
		        	<div>
			        	<label for="exampleFormControlInput1" class="form-label">Subscription</label>
			        	<select class="form-select form-select-sm" aria-label=".form-select-sm example" name="subscription">
						  {% for subscription in subscriptions %}
						  	<option value={{subscription.id}}>{{subscription.name}}</option>
						  {% endfor %}
						  
						</select>
					</div>

					<div style="margin-top: 20px">
						<label for="exampleFormControlInput1" class="form-label">Account/Meter No</label>
			        	<input class="form-control form-control-sm" type="text" placeholder="e.g 6667-789-899" aria-label=".form-control-sm example" name="account">

					</div>

					<div align="center" style="margin-top: 20px">
						<button type="submit" class="btn btn-primary" style="padding: 20px">Subscribe</button>
					</div>
		        </form>
		      </div>
		      
		    </div>
		  </div>
		</div>


		
{% endblock %}

{% block scripts %}
	<script>

		 $(function () {

		      var $myChart = $("#myChart");
		      $.ajax({
		        url: $myChart.data("url"),
		        success: function (data) {

		          var ctx = $myChart[0].getContext("2d");

		          var xValues = data.labels;

					new Chart(ctx, {
					  type: "line",
					  data: {
					    labels: xValues,
					    datasets: data.data
					  },
					  options: {
					    legend: {display: true}
					  }
					});

		        }
		      });

		    });

		
	</script>
{% endblock %}